body, html {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #c9c9c9;
	text-align: center;
	font-family: Helvetica, Arial, sans;
}

header,
#content {
	width: 600px;
	margin: 20px auto;
	padding: 10px 0;
}

h1#logo {
	width: 351px;
	height: 200px;
	display: block;
	text-indent: -9999px;
	background-image: url(../images/logo.gif);
	background-position: 50% 0;
	background-repeat: no-repeat;
	margin: 0 auto;
}

input[type=text] {
	width: 400px;
	padding: 10px;
	font-size: 14px;
	background-color: #f4f3f3;
	color: #c9c9c9;
	border: none;
	border-top: 1px solid #bababa;
	border-left: 1px solid #bababa;
	border-bottom: 1px solid #f4f3f3;
	border-right: 1px solid #f4f3f3;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
input[type=text]:focus {
	background-color: #fefefe;
	border: 1px solid #999999;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	color: #999999;
}
input::-webkit-input-placeholder {
	font-style: italic;
}
input:-moz-placeholder {
	font-style: italic;
}